.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* flex-wrap: 1; */
    text-align: center;
    color: white;
    /* font-style: italic; */
    font-family: 'Patrick Hand', cursive;
    
}

.quote{
    font-size: medium;
}

.button-conatiner{
    margin-top: 15px;
    align-self: flex-end;
}


.author{
    font-weight: 600;
    font-size: larger;
}

.button{
    cursor: pointer;
    min-width: 100px;
    height: 30px;
    border-radius: 10px;
    align-self: center;
    background: linear-gradient(90deg,#f27121,#e94057,#8a2387);
    color: white;
    
}