.container{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.card{
  max-width: 500px;
  border: 1px solid;
  padding: 2%;
  border-radius: 10px;
  border-bottom: 10px solid rgba(100, 100, 100, 0.5);
  box-shadow: 5px 10px #888888;
  background-color: rgba(100, 100, 100, 0.5);
}

@media (max-width: 770px) {
  .card{
    margin: 4%;
  }
}