body {
  margin: 0;
  background: linear-gradient(90deg,#243b55,#141e30);
  font-family: 'Patrick Hand', cursive sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
